:root {
  --clr-dark-900: rgba(12, 12, 12, 0.9);
  --clr-dark-600: rgba(20, 20, 20, 0.6);
  --clr-white: #fff;
  --clr-white-900: rgba(255, 255, 255, 0.95);
  --clr-white-800: rgba(255, 255, 255, 0.8);
  --clr-white-400: rgba(255, 255, 255, 0.5);
  --clr-settings-dark: #02000f;

  --ff-primary: 'Roboto', sans-serif;
  --text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/***************** General *****************/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: var(--ff-primary);
  font-weight: 300;
}

button {
  padding: 0;
  border: 0;
  background-color: transparent;
}

button:hover {
  cursor: pointer;
}

/****** Main Section ******/
#root {
  position: relative;
  height: 100vh;
}

.fade-in-wrapper {
  position: relative;
  height: 100vh;
}

.main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  background-image: url('./img/pink-fluid-min.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 3.75rem 3.125rem;
  color: var(--clr-white);
  letter-spacing: 0.1em;
}

/* quote */
.quote {
  align-self: baseline;
  font-style: italic;
  font-weight: normal;
  line-height: 19px;
  letter-spacing: 0.1em;
  text-shadow: var(--text-shadow);
  font-size: 1rem;
  max-width: 300px;
  width: 100%;
}

.quote figcaption {
  font-size: 0.625rem;
}

blockquote p::before {
  content: '\201C';
}

blockquote p::after {
  content: '\201D';
}

/* features */
.features {
  max-width: 600px;
  width: 100%;
  padding-top: 15%;
}

.features .search input {
  background: var(--clr-dark-600);
  border-radius: 20px 0px 0px 20px;
  border: none;
  color: var(--clr-white);
  font-size: 1.25rem;
  width: calc(100% - 70px);
  padding: 0.625rem 1.875rem;
  font-weight: 300;
  letter-spacing: 0.1em;
}

#search-engine-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.features .search form {
  position: relative;
}

.features .search input::-webkit-input-placeholder {
  color: var(--clr-white);
  font-weight: 200;
}

.features .search input:-ms-input-placeholder {
  color: var(--clr-white);
  font-weight: 300;
}

.features .search input::placeholder {
  color: var(--clr-white);
  font-weight: 300;
}

.features .search button {
  position: absolute;
  top: 0;
  right: 0;
  background: var(--clr-dark-900);
  border-radius: 0px 1.25rem 1.25rem 0px;
  width: 70px;
  height: 100%;
}

.features .search button::after {
  content: url('./img/search.svg');
}

.bookmarks {
  margin-top: 3.125rem;
  background: var(--clr-dark-600);
  border-radius: 20px;
  max-width: 600px;
  width: 100%;
}

.bookmarks__navigation {
  background: var(--clr-dark-600);
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  height: 50px;
  position: relative;
}

.bookmarks__navigation ul {
  padding: 0;
  padding: 0 1.875rem;
  margin: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  max-width: calc(100% - 3.125rem);
}

.bookmarks__navigation li {
  list-style: none;
  display: inline-block;
  font-size: 0.75rem;
  text-align: center;
  position: relative;
}

.bookmarks__navigation li button {
  color: var(--clr-white);
  text-transform: capitalize;
  letter-spacing: 0.06rem;
}
.bookmarks__navigation li.active button {
  text-shadow: 0px 0px 1px white;
}

.bookmarks__navigation li.active::after {
  content: '';
  height: 2px;
  width: 100%;
  background: white;
  position: absolute;
  bottom: -10px;
  left: 0;
}

.bookmarks__navigation__edit-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 3.125rem;
  height: 100%;
  border-radius: 0 20px 0px 0;
}

.bookmarks__navigation__edit-button::after {
  content: url('./img/three-dots.svg');
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.bookmarks__links {
  padding: 1.875rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, auto);
  row-gap: 2.5rem;
  column-gap: 0.5rem;
}

.bookmark {
  text-align: center;
  font-size: 0.625rem;
  text-transform: capitalize;
  position: relative;
  transition: all ease 0.2s;
}

.bookmark:hover {
  transform: scale(1.1);
}

.bookmark a {
  text-decoration: none;
  color: var(--clr-white);
}

.bookmark p {
  position: relative;
  width: max-content;
  margin: auto;
}

.bookmark p::after {
  content: '';
  position: absolute;
  bottom: 0%;
  left: 50%;
  height: 1px;
  width: 100%;
  background-color: var(--clr-white);
  opacity: 0;
  transform: translate(-50%, 250%) scale(0);
  transition: all 0.3s ease 0.1s;
}

.bookmark:hover p::after {
  opacity: 1;
  transform: translate(-50%, 250%) scale(1);
}

.bookmark__favicon {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  margin-bottom: 0.75rem;
}

.bookmark__edit-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  display: none;
}

.bookmark:hover .bookmark__edit-button {
  display: initial;
}

/* times */
.times {
  align-self: baseline;
  max-width: 300px;
  width: 100%;
  text-align: right;
  text-shadow: var(--text-shadow);
  font-size: 1.5625rem;
}

.date {
  font-size: 0.7rem;
  padding-bottom: 0.3rem;
  font-weight: bold;
}

.time_live {
  padding-bottom: 0.225rem;
}

.time_zone {
  font-size: 1rem;
  padding-bottom: 1rem;
}

.times button::before {
  content: url('./img/plus.svg');
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin-top: 3rem;
}

/****** Footer ******/
footer {
  padding: 3.75rem 3.125rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3em;
  color: var(--clr-white);
}

footer .settings__button::before {
  content: url('./img/cog.svg');
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

footer .photo_copyright {
  font-size: 0.625rem;
  text-shadow: var(--text-shadow);
}

/****** Settings (Modal) ******/
.settings {
  background-color: var(--clr-settings-dark);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  opacity: 0;
  color: var(--clr-white);
  text-align: center;
  padding: 3.75rem 3.125rem;
  height: 100vh;
  width: 100vw;
  opacity: 0.95;
  text-transform: capitalize;
}

.settings,
.settings > * {
  transition: all ease 0.5s;
}

.settings h2 {
  font-weight: 300;
}

.settings button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 3.75rem 3.125rem;
  color: red;
}

.settings__main {
  max-width: 700px;
  margin: auto;
  margin-top: 3.75rem;
}

.settings__main__field {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px -2px 0px 0px rgba(255, 255, 255, 0.1);
  font-weight: 400;
  font-size: 1rem;
  padding: 0 10px;
  min-height: 70px;
}

.settings__action__container {
  display: inline-block;
  font-size: 0.8125rem;
}

.settings__action__container span,
.settings__action__container div {
  display: inline;
}

.settings__action__container div {
  margin: 0 40px;
}

.settings__action__container select,
.settings__action__container input[type='text'] {
  width: 225px;
  height: 35px;
  border-radius: 10px;
  padding: 0 10px;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  color: var(--clr-white);
}

.settings__action__container select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: linear-gradient(45deg, transparent 50%, white 50%),
    linear-gradient(135deg, white 50%, transparent 50%);
  background-position: calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
}

/****** SWITCH ******/

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 15px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 40px;
}

.slider:before {
  position: absolute;
  content: '';
  height: 20px;
  width: 20px;
  background-color: var(--clr-white);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
  left: -1px;
  bottom: -2.5px;
}

input:checked + .slider:before {
  transform: translateX(calc(100% + 2px));
}

/****** Light Mode ******/
/* Main Page */
.light-mode .search input,
.light-mode .bookmarks {
  background: var(--clr-white-400);
  color: var(--clr-dark-900);
  font-weight: 500;
}

.light-mode .search button,
.light-mode .bookmarks__navigation {
  background: var(--clr-white-800);
}

.light-mode .bookmarks__navigation li button,
.light-mode .bookmark a {
  color: var(--clr-dark-900);
}

.light-mode .bookmarks__navigation li.active::after,
.light-mode .bookmark p::after {
  background-color: var(--clr-dark-900);
}

.light-mode #search-engine-input::placeholder {
  color: var(--clr-dark-600);
}

/* Settings (Modal) */
.light-mode.settings {
  background-color: var(--clr-white-900);
  color: var(--clr-dark-900);
}

.light-mode .settings__main__field {
  box-shadow: 0px -2px 0px 0px rgba(20, 20, 20, 0.1);
}

.light-mode .settings__action__container select,
.light-mode .settings__action__container input[type='text'] {
  background-color: rgba(0, 0, 0, 0.2);
  color: var(--clr-dark-900);
}

.light-mode .settings__action__container select {
  background-image: linear-gradient(45deg, transparent 50%, black 50%),
    linear-gradient(135deg, black 50%, transparent 50%);
}

.light-mode .slider {
  background-color: rgba(0, 0, 0, 0.2);
}

.light-mode .slider:before {
  background-color: var(--clr-dark-900);
}

/* To change */
input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}
